lib/eivu/vg_data/debug.rb
# Bundler artifacts
.bundler
vendor/bundle
.envrc
.DS_Store
*.gem
*.rbc
logs/*
*.db-shm
*.db-wal
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/